<section class="tech-skills">
  <div class="container tech-skills-container">
    <h2 class="visually-hidden">Tech Skills</h2>

    <!-- first line -->
    <div class="marquee">
      <div class="marquee__inner">
        <p class="marquee__line">
          <span class="dot"></span>HTML/CSS<span class="dot"></span
          >JavaScript<span class="dot"></span>React
          <span class="dot"></span>Node.js<span class="dot"></span>React
          Native<span class="dot"></span>TypeScript
          <span class="dot"></span>
        </p>
        <p class="marquee__line">
          <span class="dot"></span>HTML/CSS<span class="dot"></span
          >JavaScript<span class="dot"></span>React
          <span class="dot"></span>Node.js<span class="dot"></span>React
          Native<span class="dot"></span>TypeScript
          <span class="dot"></span>
        </p>
      </div>
    </div>

    <div class="marquee tilted-test">
      <div class="marquee__inner tilted">
        <p class="marquee__line">
          <span class="dot"></span>HTML/CSS<span class="dot"></span
          >JavaScript<span class="dot"></span>React
          <span class="dot"></span>Node.js<span class="dot"></span>React
          Native<span class="dot"></span>TypeScript
          <span class="dot"></span>
        </p>
        <p class="marquee__line">
          <span class="dot"></span>HTML/CSS<span class="dot"></span
          >JavaScript<span class="dot"></span>React
          <span class="dot"></span>Node.js<span class="dot"></span>React
          Native<span class="dot"></span>TypeScript
          <span class="dot"></span>
        </p>
      </div>
    </div>
  </div>
</section>
